* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'life savers',sans-serif;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 95vh;
    background: #004643;
    color: #fffffe;
    letter-spacing: 1px;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    
    width: 85%;
    margin: 0;
}
header h1{
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom:1rem
}

#task-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input,button{
    appearance: none;
    border: none;
    background: none;
    outline: none;
}
.input{
    display: flex;
    width: 100%;
}

#task-input{
    width: 80%;
    background-color: #abd1c6;
    padding: 1rem;
    border-radius: 28px;
    font-size: 1.25rem;
    font-family: "Salsa", cursive;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
#task-input::placeholder{
    color: #001e1d;
    font-family: 'salsa',sans-serif;
    font-weight: 100;
    opacity: 0.3;
    font-size: 1.2rem;
    transform: translateY(-1px);

}

#task-input-2{
    background-color: #abd1c6;
    font-size: 1.25rem;
    width:40%;
    padding: 1rem ;
    color: #001e1d;
    font-family: "Salsa", cursive;
    border-radius: 28px;
    
}

#task-input-2::placeholder{
    display: none;
    color: #001e1d;
    font-family: "Salsa", cursive;
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.3;
    transform: translateY(-1px);

}


#task-input-3{
    background-color: #abd1c6;
    font-size: 1.25rem;
    width:40%;
    border-radius: 28px;

    padding: 1rem ;
    color: #001e1d;
    font-family: "Salsa", cursive;
}

#task-input-3::placeholder{
    color: #001e1d;
    display: none;
    font-family: "Salsa", cursive;
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.3;
    transform: translateY(-1px);

}

.time{
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time p {
    font-size: 1.2rem;
    margin: 0px 10px;
    border-radius: 50px;
    padding: 1rem 3rem;
    background: #f9bc60;
    color: #001e1d;
    font-weight: 900;


}

#task-submit{
    color: #001e1d;
    font-size: 1rem;
    font-weight: 900;
    width: 20%;
    padding: 1rem;
    border-radius: 28px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #f9bc60;
    
    cursor: pointer;
    transition: 0.4s;
}



.main{
    flex: 1 1 0%;
    background-color: rgb(171, 209, 198);
    border-radius: 28px;
    font-size: 1.25rem;
    max-width: 776px;
    min-width: none;
    justify-content: center;
    width: 80%;
    position: relative;
}

.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #001e1d;
    font-family: 'life savers',sans-serif;
    font-weight: 700;
    text-align: center;
}

#task .tasks{
    display: flex;
    background-color: #004643;
    padding: 1rem;
   
    border-radius: 28px;
    box-shadow:4px 5px 10px rgba(0, 0, 0, 0.127);
}
#task .tasks .content{
    width: 100%;
}

#task .tasks .content .tasks-text{
   color: #abd1c6;
   font-size: 1.125rem;
   width: 100%;
   overflow-x:scroll;
   display: block;
   transition: 0.5s;
   font-family: "Salsa", cursive;
}

#task .tasks .content .tasks-text:not(:read-only){
   color: #f9bc60;
}

.action{
    display: flex;
    margin: 10px 0px 30px;
}
.action button{
    cursor: pointer;
    margin:0 0.5rem 0px 0px;
    font-size: 0.7rem;
    font-weight: 900;
    transition: 0.3s;
}

.action button:hover{
    opacity: 0.8;
}
.action button:active{
    opacity: 0.6;
}
.delete{
    background:  #f9bc60;
    color: crimson;
    font-weight: 900;
    padding: 8px 20px;
    border-radius: 14px;
    box-shadow:4px 5px 10px rgba(0, 0, 0, 0.127);
    text-transform: uppercase;


}
.edit{
    background:  #f9bc60;
    color: #001e1d;
    font-weight: 900;
    padding: 8px 20px;
    border-radius: 14px;
    box-shadow:4px 5px 10px rgba(0, 0, 0, 0.127);
    text-transform: uppercase;

}
.complete{
    background:  #f9bc60;
    color: #001e1d;
    font-weight: 900;
    padding: 8px 20px;
    border-radius: 14px;
    box-shadow:4px 5px 10px rgba(0, 0, 0, 0.127);
    text-transform: uppercase;

}

@media only screen and (max-width: 600px){

#task-input::placeholder{
    font-size: 1rem;
    transform: translateY(-2px);
}
#task-input-2::placeholder,#task-input-3::placeholder{
    font-size: 0.7rem;
    transform: translateY(-4px);
}
#task-input{
    width: 80%;
} 
#task-submit{
    width: 20%;
    font-size: 0.7rem;
} 
#task-input-2{
    width: 45%;
   
}
#task-input-3{
    width: 45%;
}

}